## 1. Setup and Data Extraction
 - Import libraries
 - Connect using get_engine()
 - Load fact + dimension tables
 - Merge into df

In [6]:
# 1. setup and Data Extraction.

import os 
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

notebook_dir = os.getcwd()  # current working directory
parent_dir = os.path.abspath(os.path.join(notebook_dir, '..'))
sys.path.append(parent_dir)

from db.db_config import get_engine

# Set Styles
sns.set_theme(style="whitegrid")
plt.rcParams["figure.figsize"] = (12,6)

# Get Engine from db_config
engine = get_engine()

# Load dimension and fact tables
fact_sales = pd.read_sql("SELECT * FROM core.fact_sales;" , engine)
dim_product = pd.read_sql("SELECT * FROM core.dim_product;", engine)
dim_store = pd.read_sql("SELECT * FROM core.dim_store;", engine)
dim_date = pd.read_sql("SELECT * FROM core.dim_date;", engine)

# Merge to one full dataframe for EDA
df = (
    fact_sales
    .merge(dim_product, on='product_id', how='left')
    .merge(dim_store, on='store_id', how='left')
    .merge(dim_date, left_on='date_id', right_on='date_sold', how='left')
)

df.head()

,sales_id,product_id,store_id,date_id,price,discount,quantity,product_name,category,store_name,city,date_sold,day,month,year,quarter,weekday
0,5757001,91,1,2025-03-03,195.02,0.06,11,Bleach,Cleaning Supplies,Lulu Hypermarket Al Gharrafa,Qatar,2025-03-03,3,3,2025,1,Monday
1,5757002,542,1,2025-05-21,119.30,0.15,19,Baby Wipes,Baby Products,Lulu Hypermarket Al Gharrafa,Qatar,2025-05-21,21,5,2025,2,Wednesday
2,5757003,363,1,2025-06-15,159.38,0.23,14,Trail Mix,Snacks & Sweets,Lulu Hypermarket Al Gharrafa,Qatar,2025-06-15,15,6,2025,2,Sunday
3,5757004,184,1,2025-06-20,53.43,0.05,12,Disinfectant Spray,Cleaning Supplies,Lulu Hypermarket Al Gharrafa,Qatar,2025-06-20,20,6,2025,2,Friday
4,5757005,5,1,2025-03-28,36.47,0.06,17,Potato Chips,Snacks & Sweets,Lulu Hypermarket Al Gharrafa,Qatar,2025-03-28,28,3,2025,1,Friday